<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>

    <link rel="stylesheet" href="../../static/colors.css">
    <link rel="stylesheet" href="../../static/all.css">
    <link rel="stylesheet" href="../../static/input-cell.css">
    <link rel="stylesheet" href="../../static/settings.css">
</head>
<body>
<div class="logo-container">
    <img class="logo-image" src="../../images/favicon.svg" alt="">
    <label class="logo-name">TalkHub</label>
</div>
<div class="main-panel">
    <div class="settings-panel">
        <a href="../..">
            <div class="btn-back-to-hub" title="Вернуться в hub"></div>
        </a>
        <h1>Настройки</h1>
        <div class="settings-main">
            <div class="settings-main-block">
                <div class="settings-user-stats-block">
                    <label>ID:</label>
                    <label>{{.UserID}}</label>
                </div>
                <div class="settings-user-stats-block">
                    <label>First Name:</label>
                    <label>{{.FirstName}}</label>
                </div>
                <div class="settings-user-stats-block">
                    <label>Last Name:</label>
                    <label>{{.LastName}}</label>
                </div>
                <div class="settings-user-stats-block">
                    <label>Email:</label>
                    <label>{{.Email}}</label>
                </div>
            </div>

            <div class="settings-main-block settings-main-block-center">
                <label>Изменение пароля</label>
                <label class="input-cell input-cell-change-password" for="password-input">
                    <input id="password-input" type="text">
                    <span id="password-text" class="input-cell-popup-text input-cell-popup-text-change-password">Password</span>
                    <label class="eye" for="password-input">
                        <span class="pupil"></span>
                    </label>
                </label>

                <label class="input-cell input-cell-change-password" for="new-password-input">
                    <input id="new-password-input" type="text">
                    <span id="new-password-text" class="input-cell-popup-text input-cell-popup-text-change-password">New Password</span>
                    <label class="eye" for="new-password-input">
                        <span class="pupil"></span>
                    </label>
                </label>

                <input id="btn-settings-change-password" class="button" type="button" value="Сменить">

                <div id="change-password-status"></div>
            </div>
        </div>
    </div>
</div>
<script src="../../static/input-cell-eyes.js"></script>
<script src="../../static/input-cell-popups.js"></script>
<script src="../../static/settings.js"></script>
</body>
</html>