<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TalkHub SignIn</title>
    <link rel="icon" type="image/svg" href="../images/favicon.svg">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/colors.css">
    <link rel="stylesheet" href="../static/all.css">
    <link rel="stylesheet" href="../static/inputCell.css">
    <link rel="stylesheet" href="../static/information.css">
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
  <header class="top-panel">
    <div class="logo-container">
      <img class="logo-image" src="../images/favicon.svg" alt="">
      <label class="logo-name">TalkHub</label>
    </div>
  </header>
  <main class="main-panel">
    <div id="information-panel">
        <h1>Доступные видео-звонки и встречи.</h1>
        <h2>TalkHub - это сервис для планирования встреч и общения через видео-звонки.</h2>
        <div class="join-the-meeting-panel">
            <h3>Имеется приглашение?</h3>
            <input id="join-the-meeting-input-code" type="text" placeholder="Введите код встречи">
            <input id="btn-join-the-meeting" class="button" type="button" value="Присоединиться">
        </div>
        <div class="inner-line"></div>
        <h4>Чтобы назначить встречу вам необходимо авторизоваться и запланировать её в меню "мои встречи".</h4>
    </div>
    <div class="authorization-panel">
      <div id="authorization-form">
        <label class="heading-text">Sign In</label>
        <div class="authorization-data">

          <label class="input-cell" for="email-input">
            <input id="email-input" type="text">
            <span id="email-text" class="authorization-data-popup-text">Email</span>
          </label>

          <label class="input-cell" for="password-input">
            <input id="password-input" type="password">
            <span id="password-text" class="authorization-data-popup-text">Password</span>
            <label class="eye" for="password-input">
              <span class="pupil"></span>
            </label>
          </label>

          <input id="btn-go-account" class="button" type="button" value="Go to TalkHub account">

        </div>
        <label id="authorization-error"></label>
        <a class="hyperlink-sign-up" href="/registration">Sign Up</a>
      </div>
    </div>
  </main>
  <script src="../static/hideSwitcher.js"></script>
  <script src="../static/inputCell.js"></script>
  <script src="../static/main.js"></script>
</body>
</html>