<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TalkHub SignUp</title>
    <link rel="icon" type="image/svg" href="../images/favicon.svg">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/colors.css">
    <link rel="stylesheet" href="../static/all.css">
    <link rel="stylesheet" href="../static/inputCell.css">
    <link rel="stylesheet" href="../static/registration.css">
</head>
<body>
    <header class="top-panel">
        <div class="logo-container">
            <img class="logo-image" src="../images/favicon.svg" alt="">
            <label class="logo-name">TalkHub</label>
        </div>
    </header>
    <main class="main-panel">
        <div id="information-panel"></div>
        <div class="registration-panel">
            <div id="registration-form">
                <label class="heading-text">Sign Up</label>
                <div class="registration-data">

                    <label id="first-name-input-cell" class="input-cell" for="first-name-input">
                        <input id="first-name-input" class="registration-data-input" type="text">
                        <span id="first-name-text" class="registration-data-popup-text">First Name</span>
                    </label>

                    <label class="input-cell" for="last-name-input">
                        <input id="last-name-input" type="text">
                        <span id="last-name-text" class="registration-data-popup-text">Last Name</span>
                    </label>

                    <label class="input-cell" for="email-input">
                        <input id="email-input" type="text">
                        <span id="email-text" class="registration-data-popup-text">Email</span>
                    </label>

                    <label class="input-cell" for="password-input">
                        <input id="password-input" type="password">
                        <span id="password-text" class="registration-data-popup-text">Password</span>
                        <label class="eye" for="password-input">
                            <span class="pupil"></span>
                        </label>
                    </label>

                    <label class="input-cell" for="confirm-password-input">
                        <input id="confirm-password-input" type="password">
                        <span id="confirm-password-text" class="registration-data-popup-text">Confirm Password</span>
                        <label class="eye" for="confirm-password-input">
                            <span class="pupil"></span>
                        </label>
                    </label>

                    <input id="btn-go-account" type="button" value="Create your TalkHub account">

                </div>
                <label class="footer-registration-panel">
                    <input id="accept-policy" type="checkbox" checked>
                    <label id="accept-policy-text" class="footer-text">I agree to the Terms of Service and Privacy Policy.</label>
                </label>
                <label id="registration-error"></label>
                <a class="hyperlink-sign-in" href="/">Sign In</a>
            </div>
        </div>
    </main>
    <script src="../static/windowSynchronization.js"></script>
    <script src="../static/hideSwitcher.js"></script>
    <script src="../static/inputCell.js"></script>
    <script src="../static/registration.js"></script>
</body>
</html>