<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TalkHub SignIn</title>
    <link rel="icon" type="image/svg" href="../../images/favicon.svg">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../../static/colors.css">
    <link rel="stylesheet" href="../../static/all.css">
    <link rel="stylesheet" href="../../static/error-meeting.css">
</head>
<body>
<header class="top-panel">
    <div class="logo-container">
        <img class="logo-image" src="../../images/favicon.svg" alt="">
        <label class="logo-name">TalkHub</label>
    </div>
    <div class="language-selector">
        <div class="not-selected-language">en</div>
        <div class="selected-language">ru</div>
    </div>
</header>
<main class="main-panel">
    <div class="information-panel">
        <p class="information-text">Данной встречи не существует или она была закончена!</p>
    </div>
</main>
<script src="../../static/ru-language-selector.js"></script>
</body>
</html>