:root {
    /*--main-color-1: #EFF2F7FF;*/
    /*--main-color-1: #fafbfc;*/
    --main-color: #c7c7f1;

    --secondary-color: #fafafa;

    --selected-color-1: #a8a9ad;
    --selected-color-2: #9f9fef;

    --cell-input-color: rgba(245, 245, 245, 0.6);
    /*--cell-input-color: rgba(239, 242, 247, 0.5);*/
    /*--cell-input-color: #fafbfc;*/

    --empty-color: rgba(0, 0, 0, 0);
}