body {
    min-width: 900px;
}

.main-panel {
    display: flex;
    justify-content: center;
}

.settings-panel {
    height: 350px;
    min-width: 620px;
    background: var(--secondary-color);
    border: 2px solid var(--selected-color-1);
    border-radius: 15px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.btn-back-to-hub {
    position: absolute;
    width: 34px;
    aspect-ratio: 1;
    background-image: url(../images/icon-back-to-hub.svg);
    background-size: cover;
    margin: 7px;
    place-self: start;
}

.btn-back-to-hub:hover {
    scale: 0.95;
}

.btn-back-to-hub:active {
    scale: 0.9;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 15px;
    font-size: 26px;
    font-weight: normal;
}

.settings-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.settings-main-block {
    width: 340px;
    background-color: var(--secondary-color-2);
    border-radius: 10px;
    padding: 0 20px 0 20px;
    margin: 10px;
    border: 2px solid var(--selected-color-1);
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.settings-user-stats-block {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.settings-user-stats-block label {
    margin: 0 2px 0 2px;
}

#settings-user-stats-not-confirm-email {
    color: #e70c0c;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#btn-settings-confirm-email {
    width: 250px;
}

.settings-main-block-center {
    align-items: center;
}

#btn-settings-change-password {
    width: 250px;
    margin-bottom: 13px;
}

.closed-eye:after {
    transform: rotate(60deg) translate(0, -7px);
}

.input-cell {
    background: var(--secondary-color);
}

#status-delete-account {
    color: red;
}